@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
}

/**
Buttons
*/
.btn-success {
  background: rgb(147, 213, 0);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.btn-white {
  background: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
}
select {
  border: 0 none;
  color: #ffffff;
  background: rgb(23, 26, 56);
  font-weight: bold;
  border-radius: 50px;
  height: 30px;
  padding: 5px;
  width: 160px;
}
select:focus{
  border: none;
  outline: none;
}

.btn {
  outline: none;
  border: none;

}
.btn:focus {
  outline: none;
  border: none;
}

/**
Input styling
*/
input[type="search"] {
  height: 30px;
  border: none;
  border-radius: 25px;
  padding: 0 10px;
}

.fa-bars{
  color: rgb(233, 233, 233);
  font-weight: lighter;
  top: 0;
  position: sticky;
}

.line, .line2, .line3 {
  border: solid 0.3px rgb(134, 134, 134);
  width: 60%;
  color: rgb(134, 134, 134);
  position: absolute;
  margin-left: 2%;
  margin-top: 1%;
}
.line2{
  width: 20%;
}
footer{
  background: rgb(230, 230, 230);
}
.social{
  color: rgb(23, 26, 56);
  font-size: 30px;
  padding-right: 5%;
  /* border: solid 1px rgb(23, 26, 56);
  border-radius: 50%; */
}
.swiper-container {
  width:100%;
  height: 100%;
}
@media screen and (max-width: 768px){
  .swiper-container{
    height: 500px;
  }
}

.mobile-menu{
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9);
}
.menu-content{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  margin-top: 200px;
  width: 80%
}
.menu-content a{
  padding: 5% auto;
  text-decoration: none;
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
}
/* The Close Button */
.close {
  color: rgb(245, 0, 0);
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}