@media all and (min-width: 768px) {
  /**
Main wrapper
*/
  .wrapper {
    display: grid;
    background: var(--canaan-east-green);
    grid-template-columns: 1.5em 1fr 1.5em;
    grid-template-areas:
      "header header header"
      "main main main"
      "about about about"
      "innovation innovation innovation"
      "workwithus workwithus workwithus"
      "footer footer footer";
    color: var(--canaan-east-blue);
  }
  .subsidiaries-wrapper {
    display: grid;
    background: var(--canaan-east-green);
    grid-template-columns: 2fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "header                 header                "
      "subsidiaries-container subsidiaries-container"
      "footer                 footer                ";
    color: var(--canaan-east-blue);
  }
  .menu-toggler {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
  /**
  Header
  */
  header {
    grid-column: header / header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
      "logo search"
      "mymenu mymenu";
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /**
  Logo
  */
  .logo {
    grid-area: logo;
    align-self: stretch;
    margin-top: 2%;
  }

  /**
  Search
  */
  .search {
    grid-area: search;
    background: inherit;
    align-self: center;
    justify-self: end;
  }

  /**
  Main menu
  */
  .mymenu {
    grid-area: mymenu;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    font-weight: bold;
    top: 0;
    gap: 1em;
    position: sticky;
  }
  .mymenu a {
    text-decoration: none;
    padding-bottom: 15px;
    margin-bottom: -5px;
    padding-top: 18px;
    font-size: 16px;
    color: rgb(23, 26, 56);
    position: relative;
  }
  .mymenu a::after {
    content: "";
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 7px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: none;
  }
  .mymenu a:hover::after {
    display: block;
  }

  /**
  Main Content
  */
  .swiper-container {
    grid-area: main;
  }
  .swiper-slide {
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "welcome-text welcome-img";
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }
  .main-content {
    background-image: linear-gradient(rgba(15, 28, 71, 0.8), rgba(21, 27, 82, 0.8)), url("../images/welcome-img.png");
  }
  .main-content2 {
    background-image: linear-gradient(rgba(15, 28, 71, 0.8), rgba(21, 27, 82, 0.8)), url("../images/welcome-img-2.png");
  }
  .welcome-text {
    grid-area: welcome-text;
  }
  .main-content div,
  .main-content2 div {
    font-size: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .welcome-img {
    grid-area: welcome-img;
    margin-top: 10px;
    align-self: start;
    cursor: pointer;
  }

  /**
  About
  */
  .about {
    grid-area: about;
    background: rgb(23, 26, 56);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
  }
  .companies {
    margin: auto;
    display: block;
  }

  .companies img {
    margin: 25% auto;
    width: 150%;
  }
  .about-content {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 15%;
    color: #fff;
  }
  .about-content h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .about-title {
    color: rgb(134, 134, 134);
  }

  /**
  Innovation
  */
  .innovation {
    grid-area: innovation;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "carosel carosel carosel"
      "card1 card2 card3";
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    padding-right: 20px;
    padding-left: 20px;
  }
  .carosel {
    grid-area: carosel;
    margin-top: 2%;
  }
  .carousel-content {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 30px;
  }
  .carousel-content .description {
    margin-top: 5%;
    padding-right: 5%;
  }
  .carousel-img {
    margin: auto;
  }
  .carousel-img img {
    border-radius: 10px;
  }
  .card1,
  .card2,
  .card3 {
    position: relative;
    height: 400px;
    display: flex;
    padding: 5%;
    place-items: center;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(44, 44, 44, 0.5), rgb(0, 0, 0)),
      url("../images/card2.png");
    background-size: cover;
    color: #fff;
  }
  .bottom-text {
    position: absolute;
    bottom: 0;
    padding-bottom: 20%;
  }

  .bottom-text .fa-arrow-right {
    display: flex;
    place-items: end;
    position: absolute;
    text-align: right;
    float: right;
    right: 0;
    width: 100%;
  }
  .card3 .icon:hover {
    cursor: pointer;
  }

  /**
  Work with us
  */
  .workwithus {
    grid-area: workwithus;
    background: rgb(23, 26, 56);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "title title title"
      "passionate more view-openings";
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 70px;
    color: #fff;
  }
  .title {
    grid-area: title;
    color: rgb(134, 134, 134);
  }
  .passionate {
    grid-area: passionate;
    text-align: left;
    font-size: 30px;
    color: rgb(123, 218, 28);
  }
  .more {
    grid-area: more;
    align-self: center;
  }
  .view-openings {
    grid-area: view-openings;
    align-self: center;
    margin: auto;
  }

  /**
  Footer
  */
  footer {
    grid-area: footer;
    display: grid;
    padding-top: 2.5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "getintouch getintouch getintouch"
      "contact location social";
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5%;
    background: rgb(230, 230, 230);
  }
  .getintouch {
    grid-area: getintouch;
  }
  .contact {
    grid-area: contact;
  }
  .location {
    grid-area: location;
    margin: auto;
    padding-top: 6%;
  }
  .social {
    grid-area: social;
    padding-top: 6%;
  }
  .copyright {
    text-align: center;
    background: rgb(23, 26, 56);
    width: 100%;
    color: #fff;
    height: 60px;
    padding-top: 1%;
  }

  /**
Subsidiaries Page
*/

  .subsidiaries-container {
    grid-area: subsidiaries-container;
    padding-top: 2.5%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1.1fr;
    grid-auto-columns: 1fr 2fr;
    grid-template-areas:
      "subsidiaries-header subsidiaries-header"
      "subsidiaries-sub-menu subsidiaries-slider1"
      "..................... subsidiaries-slider2"
      "..................... subsidiaries-slider3"
      "..................... subsidiaries-slider4";
    gap: 3em;
    padding-right: 20px;
    padding-left: 20px;
    background: rgb(255, 255, 255);
  }
  .subsidiaries-header {
    grid-area: subsidiaries-header;
  }
  .subsidiaries-sub-menu {
    grid-area: subsidiaries-sub-menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    text-align: left;
    gap: 1em;
    padding: 2%;
    max-height: 240px;
    font-size: 17px;
    top: 0;
    position: sticky;
  }
  .subsidiaries-sub-menu a{
    color: var(--canaan-east-blue) !important; 
  }
  .subsidiaries-slider1 {
    grid-area: subsidiaries-slider1;
    height: 600px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper-container swiper-container swiper-container"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
  }
  .swiper-container {
    grid-area: swiper-container;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .slide-images img {
    width: inherit;
    height: inherit;
  }
  .slide-images img {
    position: absolute;
    height:100%;
    object-fit: cover;
    /* width: 100px;
    height: 100px; */
    /* object-fit: cover; */
  }
  .desc {
    grid-area: desc;
    color: #fff;
    display: flex;
    padding: 5%;
    place-items: center;
    background: var(--canaan-east-green);
  }
  .logos {
    grid-area: logos;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;
    place-items: center;
  }
  .logos img,
  .logos a {
    padding-left: 15%;
  }

  .subsidiaries-slider2 {
    grid-area: subsidiaries-slider2;
    height: 600px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper-container swiper-container swiper-container"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
  }
  .subsidiaries-slider3 {
    grid-area: subsidiaries-slider3;
    height: 600px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper-container swiper-container swiper-container"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
  }
  .subsidiaries-slider4 {
    grid-area: subsidiaries-slider4;
    height: 600px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper-container swiper-container swiper-container"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
  }
}


@media all and (min-width: 1200px) {
  /**
  Header
  */
  header {
    padding-right: 250px;
    padding-left: 250px;
  }

  /**
  Main Content
  */
  .swiper-slide {
    padding-right: 250px;
    padding-left: 250px;
  }

  /**
  About
  */
  .about {
    padding-right: 250px;
    padding-left: 250px;
  }

  /**
  Innovation
  */
  .innovation {
    padding-right: 250px;
    padding-left: 250px;
  }

  /**
  Work with us
  */
  .workwithus {
    padding-right: 250px;
    padding-left: 250px;
  }

  /**
  Footer
  */
  footer {
    padding-right: 250px;
    padding-left: 250px;
  }

  /**
Subsidiaries pages
*/
  .subsidiaries-container {
    padding-right: 250px;
    padding-left: 250px;
  }
}
