@media screen and (max-width: 768px) {
  .wrapper {
    color: var(--canaan-east-blue);
    background: var(--canaan-east-green);
  }

  header {
    grid-column: header / header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
      "logo logo"
      "search menu-toggler";
    padding: 10px;
    grid-column-gap: 10px;
  }
  .menu-toggler {
    text-align: right;
    grid-area: menu-toggler;
    padding-right: 15px;
  }
  .mobile-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
  }
  .mymenu {
    display: none;
  }
  .logo {
    margin: auto;
    padding-bottom: 2px;
  }
  .logo img {
    padding-bottom: 25px;
  }
  .search {
    grid-area: search;
    justify-self: stretch;
    padding-left: 15px;
  }
  .search input {
    width: 95%;
    margin: auto;
  }

  /**
  main-content
  */
  .swiper-container {
    grid-area: main;
  }
  .main-content,
  .main-content2 {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "welcome-text"
      "welcome-img";
    background-image: linear-gradient(rgba(15, 28, 71, 0.8), rgba(21, 27, 82, 0.8)),
      url("./assets/images/welcome-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }

  .main-content {
    background-image: linear-gradient(rgba(15, 28, 71, 0.8), rgba(21, 27, 82, 0.8)), url("../images/welcome-img.png");
  }
  .main-content2 {
    background-image: linear-gradient(rgba(15, 28, 71, 0.8), rgba(21, 27, 82, 0.8)), url("../images/welcome-img-2.png");
  }
  .welcome-img {
    padding-bottom: 25%;
  }
  .main-content div,
  .main-content2 div {
    font-size: 40px;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    padding-top: 60px;
    text-align: center;
    /* padding-bottom: 20px; */
  }
  .welcome-img img {
    width: 50%;
    cursor: pointer;
  }

  /**
  About
  */
  .about {
    grid-area: about;
    background: rgb(23, 26, 56);
    display: grid;
    text-align: left;
  }
  .companies {
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
  }

  .companies img {
    width: 450px;
    left: 0;
    float: left;
    max-width: 100%;
    max-height: auto;
    margin: 15px auto;
    object-fit: cover;
  }

  .about-content {
    padding-left: 15%;
    padding-right: 5%;
    color: #fff;
    padding-bottom: 12%;
  }
  .about-content h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .about-title {
    color: rgb(134, 134, 134);
  }

  /**
  Innovation
  */
  .innovation {
    grid-area: innovation;
    background: #fff;
    display: grid;
    padding: auto 5%;
    grid-auto-rows: auto;
    grid-template-areas:
      "carosel"
      "card1"
      "card2"
      "card3";
  }
  .carosel {
    grid-area: carosel;
    margin-top: 5%;
  }
  .carousel-content {
    margin-top: 5%;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 25px;
  }
  .carousel-content .description {
    margin-top: 5%;
  }
  .carousel-img {
    display: block;
    height: 400px;
  }
  .carousel-img img {
    float: right;
    height: 100%;
    max-height: 500px;
    width: 90%;
    margin-right: 5%;
    border-radius: 10px;
  }
  .stories {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
  }
  .card {
    padding: 5%;
  }
  .card1,
  .card2,
  .card3 {
    position: relative;
    height: 400px;
    display: flex;
    padding: 5%;
    place-items: center;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(44, 44, 44, 0.5), rgb(0, 0, 0)),
      url("../images/card2.png");
    background-size: cover;
    color: #fff;
  }
  .card1 {
    border: solid 1.5px var(--canaan-east-green);
  }
  .card2 {
    background-size: cover;
    background-image: url("../images/card2.png");
  }
  .card3 {
    margin-top: 78px;
    background: rgb(158, 150, 141);
  }
  .card3 .icon {
    float: right;
    text-align: right;
  }
  .bottom-text {
    position: absolute;
    bottom: 0;
    padding-bottom: 20%;
  }

  .bottom-text .fa-arrow-right {
    display: flex;
    place-items: end;
    position: absolute;
    text-align: right;
    float: right;
    right: 0;
    width: 100%;
  }
  .card3 .icon:hover {
    cursor: pointer;
  }

  /**
  Work with us
  */
  .workwithus {
    grid-area: workwithus;
    background-color: rgb(23, 26, 56);
    color: #fff;
    padding: 5%;
  }
  .passionate {
    align-self: center;
    font-size: 36px;
    color: rgb(123, 218, 28);
  }
  .workwithus div {
    padding: 10% 0;
  }
  .view-openings button {
    display: block;
    width: 100%;
  }

  /**
  Footer
  */
  .footer {
    grid-area: footer;
    background: rgb(230, 230, 230) !important;
  }
  footer > div {
    padding: 5%;
  }
  footer > select {
    display: block;
    width: 100%;
  }

  .copyright {
    padding: 5%;
  }
  .getintouch {
    padding-left: 5%;
    padding-right: 5%;
  }
  /**
buttons
*/
  .btn {
    display: block;
    width: 100%;
  }

  .line::after {
    width: 100%;
  }

  /**
  Subsidiaries PAge
  */

  .subsidiaries-container {
    background: #fff;
    padding: 5%;
  }
  .subsidiaries-header {
    grid-area: subsidiaries-header;
  }
  .subsidiaries-sub-menu {
    grid-area: subsidiaries-sub-menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    text-align: left;
    padding: 2%;
    max-height: 240px;
    font-size: 17px;
  }
  .desc {
    grid-area: desc;
    color: #fff;
    display: flex;
    padding: 5%;
    place-items: center;
    background: var(--canaan-east-green);
  }
  .logos {
    grid-area: logos;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: grid;
    grid-auto-rows: auto;
    background: #fff;
    place-items: center;
  }
  .logos img,
  .logos a {
    padding: 5%;
  }
  .subsidiaries-header {
    padding-right: 20px;
    padding-left: 20px;
    background: #fff;
  }
  .subsidiaries-slider1 {
    grid-area: subsidiaries-slider1;
    height: 940px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper swiper swiperr"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
    margin: 5% auto;
  }
  .subsidiaries-slider2 {
    grid-area: subsidiaries-slider2;
    height: 820px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper swiper swiper"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
    margin: 200px auto;
  }

  .subsidiaries-sub-menu a {
    color: var(--canaan-east-blue) !important;
  }
  .subsidiaries-slider3 {
    grid-area: subsidiaries-slider3;
    height: 820px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper swiper swiper"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
    margin-bottom: 200px;
  }
  .subsidiaries-slider4 {
    grid-area: subsidiaries-slider4;
    height: 820px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr 0.8fr;
    grid-template-areas:
      "swiper swiper swiper"
      "desc desc desc"
      "logos logos logos";
    border-radius: 20px;
    margin-bottom: 200px;
  }
  .swiper {
    grid-area: swiper;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  .slide-images img {
    width: inherit;
    height: inherit;
  }
  .slide-images img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    /* width: 100px;
    height: 100px; */
    /* object-fit: cover; */
  }
  .about-container {
    padding: 5%;
    gap: 3em;
    padding-top: 5%;
    background: rgb(255, 255, 255);
  }
  .about-header {
    grid-area: about-header;
    background-image: linear-gradient(rgba(15, 28, 71, 0.8), rgba(21, 27, 82, 0.8)), url("../images/about-img-20.jpg");
    background-repeat: no-repeat;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: 1fr;
    align-self: center;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
  }
  .about-sub-menu {
    grid-area: about-sub-menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: 320px;
    gap: 0.7em;
  }
  .about-header h4::before {
    content: open-quote;
  }

  .about-header h4::after {
    content: close-quote;
  }
  .about-sub-menu a {
    color: var(--canaan-east-blue);
    border: solid 1px rgb(236, 236, 236);
    padding: 5px;
    border-radius: 5px;
  }
  .description2 {
    grid-area: description2;
  }

  /**
  Updates
  */
  .update-header {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .update-header h1 {
    font-size: 50px;
    font-weight: lighter;
  }
  .update-container {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "update-area-1"
      "update-area-2"
      "update-area-3"
      "update-area-4"
      ".";
    /* gap: 5%; */
    grid-auto-rows: auto;
  }
  .update-area-1 {
    grid-area: update-area-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "update-container__text"
      "update-container__img";
  }
  .update-container__text {
    grid-area: update-container__text;
    padding: 5%;
    background: var(--canaan-east-green);
  }
  .update-container__text p,
  .update-card p {
    font-size: 39px;
  }
  .update-container__text span,
  .update-card span {
    font-size: 9px;
    display: block;
  }
  .update-container__img {
    grid-area: update-container__img;
    background-image: url("../images/tallbuilding.png");
    background-size: cover;
  }
  .update-area-2 {
    grid-area: update-area-2;
    display: grid;
    gap: 1em;
    padding-top: 10%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "update-card1"
      "update-card2"
      "update-card3";
  }
  .update-card1 {
    grid-area: update-card1;
    height: 400px;
    display: flex;
    margin-top: -30px;
    padding: 5%;
    place-items: center;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgba(44, 44, 44, 0.5), rgb(0, 0, 0)),
      url("../images/card2.png");
    background-size: cover;
    color: #fff;
    border: solid 1.5px var(--canaan-east-green);
  }
  .update-card2 {
    grid-area: update-card2;
    height: 400px;
    display: flex;
    padding: 5%;
    margin-top: -30px;
    place-items: center;
    background-image: url("../images/welcome-img.png");
    background-size: cover;
    color: #fff;
  }
  .update-card3 {
    grid-area: update-card3;
    height: 460px;
    display: flex;
    padding: 5%;
    margin-top: -30px;
    place-items: center;
    background: url("../images/factory.png");
    background-size: cover;
    color: #fff;
  }
  .update-area-3 {
    grid-area: update-area-3;
    display: grid;
    /* height: 400px; */
    gap: 1em;
    padding-top: 10%;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "update-card4"
      "update-card5";
  }
  .update-card4 {
    grid-area: update-card4;
    height: 260px;
    display: flex;
    padding: 5%;
    margin-top: -30px;
    place-items: center;
    background: url("../images/1x/tractor-20.jpg");
    background-size: cover;
    color: #fff;
  }
  .update-card5 {
    grid-area: update-card5;
    height: 200px;
    display: flex;
    padding: 5%;
    margin-top: -30px;
    place-items: center;
    background: url("../images/1x/milk-20.jpg");
    background-size: cover;
    color: #fff;
  }
  .update-card .release {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -20px !important;
    text-align: right;
  }
  .update-area-4 {
    grid-area: update-area-4;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "update-card6"
      "update-card7"
      "update-card8";
  }
  .update-card6 {
    grid-area: update-card6;
    height: 300px;
    margin-top: -30px;
    place-items: center;
    background: url("../images/1x/bottle-top-20.jpg");
    background-size: cover;
  }
  .update-card7 {
    grid-area: update-card7;
    height: 300px;
    margin-top: -30px;
    place-items: center;
    background: url("../images/1x/people-helping-20.jpg");
    background-size: cover;
  }
  .update-card8 {
    grid-area: update-card8;
    height: 300px;
    margin-top: -30px;
    place-items: center;
    background: url("../images/1x/juice-20.jpg");
    background-size: cover;
  }

  /**
  Contact page
  */
  .contact-header {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .contact-header h1 {
    /* font-size: 50px;font-family: 'Oswald',  !important; */
    padding-top: -10px;
    padding-bottom: -10px;
    font-weight: bold;
  }
  .contact-container {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-container-left span {
    font-size: 12px;
  }
  .contact-container-right {
    padding: 1rem;
    display: flex;
    justify-content: center;
    top: 0;
  }

  /**
  Careers
  */
  .careers-header,
  .careers-container {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  .careers-container span {
    font-size: 12px;
    display: block;
    padding: .75rem 0;
    /* float: right; */
  }
  .career-header {
    background: rgb(240, 240, 240);
    padding: 0.75rem;
    border: 1px solid rgb(202, 202, 202);
  }
}
